/*THIS IS THE IMPORT FOR THE FONT*/
@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);

/*THIS STYLES THE BRUSH BOX*/
.brush {
  width : 100px;
  height : 100px;
  background : #000000;
  margin : 15px auto;
  border-radius : 3px;
  border : .7px solid black; 

}

/*THIS REPRESENTS ONE BOX FOR THE PIXEL CANVAS*/
.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  margin: 0;
}

/*HEADER TITLE*/
h1 {
  font-family: 'Crafty Girls', cursive;
  font-size: 48px;
  text-align: center;
}

/*THE BRUSH CHANGE CONTROL*/
.controls {
  text-align: center;
}

/*THE BODY OF THE APPLICATION*/
body {
  background-image: url('./image/ps_neutral.png');
}
